[dev-packages]
autopep8 = "*"
flake8 = "*"

[packages]

[scripts]
test = "python -m unittest discover -v tests"
test3 = "python3 -m unittest discover -v tests"
format = "autopep8 --aggressive --aggressive -ir setup.py cfd tests"
format_detail = "autopep8 --aggressive --aggressive -ivr setup.py cfd tests"
format_check = "autopep8 -d -r setup.py src"
lint = "flake8 --show-source setup.py cfd tests"
cleanup = "python ./tools/cleanup.py cmake_build"
build = "python ./setup.py build"
build3 = "python3 ./setup.py build"
