name: sprint pre-merge check

on: 
  push:
    branches:
    - features/sprint*
    paths-ignore:
    - '.github/workflows/create_release-and-upload.yml'
    - '.github/workflows/code_scanner.yml'
    - 'README.md'
  pull_request:
    branches:
    - features/sprint*

env:
  GITHUB_VERSION: v0.1.2
  GITHUB_BITCOIN_VERSION: v0.1.2
  DOCKER_PYTHON_VERSION: 3.9
  GITHUB_DOCKER_IMAGE: ghcr.io/cryptogarageinc/elements-testing
  ENTRYPOINT_PATH: /github/workspace/.github/workflows/docker/test_entrypoint.sh
  BITCOIN_ENTRYPOINT_PATH: /github/workspace/.github/workflows/docker/test_bitcoin_entrypoint.sh

jobs:
  build-and-test:
    name: build & test
    timeout-minutes: 20
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-11.0, windows-2019, windows-2022, ubuntu-20.04]
        py-ver: ['3.7', '3.8', '3.9', '3.10', 'pypy-3.7', 'pypy-3.8', 'pypy-3.9']
        exclude:
          - os: macos-11.0
            py-ver: '3.7'
          - os: macos-11.0
            py-ver: '3.8'
          - os: windows-2019
            py-ver: '3.8'
          - os: windows-2019
            py-ver: 'pypy-3.8'
          - os: windows-2022
            py-ver: '3.8'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.py-ver }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: build
      run: python setup.py build
    - name: copy dll
      # for cpython 3.7, pypy 3.7-3.9
      if: runner.os == 'Windows'
      run: |
        cp ./cmake_build/Release/*.dll ./cfd/
        echo "$GITHUB_WORKSPACE/cfd" >> $GITHUB_PATH
      shell: bash
    - name: test
      run: python -m unittest discover -v tests

  elements-e2e-test:
    timeout-minutes: 40
    name: elements e2e test
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ env.DOCKER_PYTHON_VERSION }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: install pip
      run: python -m pip install -U pip
    - name: create wheel
      run: pip wheel .
    - name: e2e-test
      run: |
        docker login docker.pkg.github.com -u owner -p ${{ secrets.GITHUB_TOKEN }}
        docker pull ${{ env.GITHUB_DOCKER_IMAGE }}:${{ env.GITHUB_VERSION }}
        docker run -v ${{ github.workspace }}:/github/workspace --entrypoint ${{ env.ENTRYPOINT_PATH }} ${{ env.GITHUB_DOCKER_IMAGE }}:${{ env.GITHUB_VERSION }}

  bitcoin-e2e-test:
    timeout-minutes: 20
    name: bitcoin e2e test
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ env.DOCKER_PYTHON_VERSION }}
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: install pip
      run: python -m pip install -U pip
    - name: create wheel
      run: pip wheel .
    - name: e2e-test
      run: |
        docker login docker.pkg.github.com -u owner -p ${{ secrets.GITHUB_TOKEN }}
        docker pull ${{ env.GITHUB_DOCKER_IMAGE }}:${{ env.GITHUB_BITCOIN_VERSION }}
        docker run -v ${{ github.workspace }}:/github/workspace --entrypoint ${{ env.BITCOIN_ENTRYPOINT_PATH }} ${{ env.GITHUB_DOCKER_IMAGE }}:${{ env.GITHUB_BITCOIN_VERSION }}

  doxygen-ubuntu:
    name: doxygen-ubuntu
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: install_doxygen
      run: sudo apt install doxygen graphviz
    - name: doxygen_check
      run: |
        cd doc
        doxygen Doxyfile_quiet_all
